.App {
  max-width: 900px;
  margin: auto;
}
.panel {
  padding: 15px;
}
button {
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}
button:disabled {
  background-color: silver;
  cursor: auto;
}
tr {
  transition: 0.5s;
  border-bottom: 1px solid black;
}
tbody {
  overflow: hidden;
  height: 50px;
}
tbody tr:hover {
  background-color: silver;
  color: white;
  border-color: silver;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 15px;
  text-align: center;
}
.activeTr {
  background-color: yellow !important;
}

.activeTr:hover {
  color: black;
}
